.mat-toolbar {
    background-color: #2196f3;
    color: white;
  }
  
  .mat-toolbar a {
    text-decoration: none;
    color: white;
  }
  
  .mat-toolbar button {
    margin-left: 10px;
  }
  
  .mat-toolbar button:hover {
    background-color: #1976d2;
  }
  
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  
  .dropdown-item {
    color: #212529;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef;
    color: #212529;
  }
  
  .dropdown-menu .dropdown-item:last-child {
    color: #dc3545;
  }
  
  .mat-icon {
    margin-right: 5px;
  }
  
  .navbar-collapse {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  #color {
    color: #212529;
  }
  
  .logo {
    height: 24px;
    margin-right: 8px;
  }
  
  .logo-text {
    color: white;
    font-weight: bold;
  }

  .book-button {
    background-color: #2196F3; /* Change this to the desired background color */
    color: white; /* Change this to the desired text color */
    font-size: 16px; /* Change this to the desired font size */
    padding: 10px 20px; /* Change this to adjust the padding */
    border-radius: 5px; /* Change this to adjust the button's border radius */
  }
  
  .book-button:hover {
    background-color: #0d47a1; /* Change this to the desired hover background color */
    cursor: pointer;
  }